version: 2
jobs:
  build:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: npm install -g yarn
      - run: yarn install
      - run: yarn test
      - run: yarn semantic-release
